//shared
$white: #fff;
$blue: #3e9cdc;
$black: #000;
$dark-blue: #286690;
$gray: #bbbbbb;

// header
$header-bg: rgba(16, 16, 29, 0.9);
$nav-blue: #43abf0;
$logo-blue: #42a9ed;

//order
$dots-bg: #c4c4c4;
$order-bg: #272733;

//footer
$footer-gray: #c3c3c3;
$footer-bg: #3d4050;

//buttons
$btn-black: #2a2b30;
$btn-gray: #6f6d7b;

//input
$input-bg: rgba(255, 255, 255, 0.85);
$input-color: #272733;
$placeholder-color: #272733;
$range-bg: rgba(255, 255, 255, 0.7);
$range-thumb: #42a9ed;

//select
$select-bg: rgba(255, 255, 255, 0.85);
$select-color: #272733;
$selected-bg: rgba(61, 64, 80, 0.85);
$select-item-hov: #42a9ed;
$select-list-bg: #272733;
$select-brdr: #3d4050;

$title-background: #ffffff;
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$border-radius: 20px;
$color: #4793ff;
$title-color: #000000;
$base-color: #939cb0;
